{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}

  <!-- Add sidebar -->
  <div class="clustrmaps-container">
    <!-- RevolverMaps Widget -->
    <div style="display:inline-block;width:160px;"><script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=52yhiyw2i80&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;br=5&amp;sx=0" async="async"></script></div>
    <!-- ClustrMaps Widget -->
    <!-- <script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=e0e0e0&w=150&t=tt&d=hU36kEkjd5d1TN-nB8fHda2Mtt7EaapzAIsCUl0OxN4&co=2d78ad&ct=ffffff&cmo=3acc3a&cmn=ff5353'></script> -->
  </div>

  </div>
{% endif %}